button {
	width: 100px;
	height: 28px;
}
h2 button {
	border-radius: 5px 5px 0 0;
}
ol button {
	text-align: right;
}
info {
	display: inline-block;
}
inline-bar {
	background-color: var(--highlight-color, darksalmon);
	display: inline-block;
	white-space: nowrap;
}
chart {
	margin-top: -30px;
	display: block;
}
chart > * {
	display: inline-block;
	vertical-align: top;
}
chart > svg {
	width: 2em;
}
chart > div {
	overflow-x: scroll;
}
legend {
	background-color: var(--script-background-color, #eee);
	display: block;
	width: 200px;
	height: 75px;
	margin: 0 0 -88px auto;
	padding: 8px;
	border-radius: 5px;
}
legend box {
	display: inline-block;
	width: 22px;
	height: 16px;
	margin-right: 4px;
}
ol {
	background-color: var(--script-background-color, #eee);
	list-style-type: none;
	padding-left: 0;
	margin-left: 1.2em;
	height: 500px;
	overflow-y: auto;
	width: calc(100% - 1.2em);
}
arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--text-color, black);
	padding-bottom: 2px;
}
detail {
	display: block;
	padding: 8px;
	margin-left: 65px;
}
@media (max-width: 1399px) {
	chart {
		width: 100%;
	}
	chart > div {
		width: 94%;
	}
}
@media(max-width: 720px){
	chart {
		margin-left: -6%;
	}
	chart > svg {
		width: 6%;
	}
}
@media (min-width: 1400px){
	chart {
		margin-left: -10em;
		width: 72em;
	}
	chart > div {
		width: 70em;
	}
}
@media (min-width: 1601px){
	chart > div {
		overflow-x: auto;
	}
}

svg path.domain, svg g.tick line {
	stroke: var(--text-color, black);
	shape-rendering: crispEdges;
}
svg g.tick text {
	fill: var(--text-color, black);
	shape-rendering: crispEdges;
}