button {
	width: 100px;
	height: 28px;
}
h2 button {
	border-radius: 5px 5px 0 0;
}
ol button {
	text-align: right;
}
info {
	display: inline-block;
}
inline-bar {
	background-color: var(--highlight-color, darksalmon);
	display: inline-block;
	white-space: nowrap;
}

.chart-helper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 10px;
	margin: 8px 0;
}
.chart-helper > * {
	background-color: var(--script-background-color, #eee);
	padding: 8px;
	border-radius: 5px;
	min-height: 120px;
}
.legend box {
	display: inline-block;
	width: 22px;
	height: 16px;
	margin-right: 4px;
}

chart {
	margin-top: -30px;
	display: block;
}
chart > * {
	display: inline-block;
	vertical-align: top;
}
chart > svg {
	width: 2em;
}
chart > div {
	overflow-x: scroll;
}

p .active {
	font-weight: bold;
}

ol {
	background-color: var(--script-background-color, #eee);
	list-style-type: none;
	padding-left: 0;
	margin-left: 1.2em;
	height: 500px;
	overflow-y: auto;
	width: calc(100% - 1.2em);
}
arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--text-color, black);
	padding-bottom: 2px;
}
detail {
	display: block;
}
ol detail {
	padding: 8px;
	margin-left: 65px;
}
@media (max-width: 1399px) {
	chart {
		width: 100%;
	}
	chart > div {
		width: 94%;
	}
}
@media(max-width: 720px){
	chart {
		margin-left: -6%;
	}
	chart > svg {
		width: 6%;
	}

	.chart-helper {
		grid-template-columns: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 10px;
	}

	h2 small span {
		display: block;
		text-align: right;
	}
}
@media (min-width: 1400px){
	chart {
		margin-left: -12em;
		width: 72em;
	}
	chart > div {
		width: 70em;
	}
}
@media (min-width: 1601px){
	chart > div {
		overflow-x: auto;
	}
}

svg path.domain, svg g.tick line {
	stroke: var(--text-color, black);
	shape-rendering: crispEdges;
}
svg g.tick text {
	fill: var(--text-color, black);
	shape-rendering: crispEdges;
}
